<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-6 col-sm-8 ml-auto mr-auto">
      {% url 'login' as action_url %}
      <form class="form" method="post" action="{{ action_url }}">
        {% csrf_token %}
        <div class="card card-login card-hidden">
          <div class="card-header card-header-danger text-center">
            <h4 class="card-title">Web Monitoring Tool</h4>
          </div>
          <div class="card-body">
            <p class="card-description text-center">LOGIN</p>
            <div class="alert alert-danger offset-md-1{% if form.non_field_errors|length == 0 %} d-none{% endif %}">
              {% for error in form.non_field_errors %}
                <div>{{error}}</div>
              {% endfor %}
            </div>
            <span class="form-group bmd-form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">face</i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Username..." name="{{form.username.name}}" required autocomplete="username"/>
              </div>
            </span>
            <span class="form-group bmd-form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">lock_outline</i>
                  </span>
                </div>
                <input type="password" class="form-control" placeholder="Password..." name="{{form.password.name}}" required autocomplete="current-password"/>
              </div>
            </span>
          </div>
          <div class="card-footer justify-content-center">
            <input type="submit" class="btn btn-rose btn-link btn-lg" value="Log Me In"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
